.App {
  text-align: center;
  height: 100%;
}
header {
  background-color: rgb(31,40,58);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.header-name {
  color: rgb(178,188,195);
  text-decoration: none;
}
header>h1 {
 margin: 0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(31,40,58);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 70px);
  overflow: auto;
}
nav {
  width: 150px;
  border-right: none;
  background-color: rgb(178,188,195);
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}
main {
  width: calc(100% - 150px);
  border: 1px solid black;
  border-top:none;
  border-right: none;
  background-color: rgb(178,188,195);
  overflow: auto;
}

/*smart Phone*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

}
/*tablit*/
@media only screen and (min-width : 768px) {
  nav {
    width: 300px;
  }
  main{
    width: calc(100% - 300px);
  }
}